/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    background-color: #222222;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  a:hover {
    color: #1dfedc;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  /* Header Styles */
  header {
    background-color: #1e1e1e;
    padding: 1rem 0;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: 700;
    color: #6e6e6e;
    text-transform: uppercase;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin-right: 1.5rem;
  }
  
  /* Hero Section Styles */
  .hero {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1541252267037-28335d343119');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .hero-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-shadow: 2px 2px #000000;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-shadow: 2px 2px #000000;
  }
  
  .hero-button {
    background-color: #1dfedc;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .hero-button:hover {
    background-color: #0db1a7;
  }
  
  /* Features Section Styles */
  .features {
    background-color: #ffffff;
    padding: 4rem 0;
  }
  
  .features-title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .feature-icon {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #1dfedc;
  }
  
  .feature-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  .feature-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  
  /* Footer Styles */
  footer {
    background-color: rgb(67, 68, 67)
  }  